* {
    margin-left: 10px;
}

.beginning-input {
    margin-bottom: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    width: auto;
    padding-left: 2%;
}

.grid-box {
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 2%;
    margin-bottom: 20px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: solid 1px black;
    background-color: lightgray;
}